# Standard .clang-format for C++ and Java.
# Official formatting configuration for Texas Torque.
# Copyright (C) Justus Languell 2020.
BasedOnStyle: LLVM    
IndentWidth: 4    
---
Language: Cpp    
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
DerivePointerAlignment: false    
PointerAlignment: Left    
ColumnLimit: 80    
ContinuationIndentWidth: 8    
AllowShortBlocksOnASingleLine: true    
AllowShortCaseLabelsOnASingleLine: true    
AllowShortEnumsOnASingleLine: true    
AllowShortFunctionsOnASingleLine: false    
AllowShortIfStatementsOnASingleLine: AllIfsAndElse    
AllowShortLoopsOnASingleLine: true    
AllowShortIfStatementsOnASingleLine: true    
IndentRequires: true    
SpaceAfterTemplateKeyword: false    
BreakBeforeBraces: Attach
UseTab: Never
AlignOperands: true
AlignTrailingComments: true
---
Language: Java     
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
ColumnLimit: 120
ContinuationIndentWidth: 8    
AllowShortBlocksOnASingleLine: true    
AllowShortCaseLabelsOnASingleLine: true    
AllowShortEnumsOnASingleLine: true    
AllowShortFunctionsOnASingleLine: true    
AllowShortIfStatementsOnASingleLine: AllIfsAndElse    
AllowShortLoopsOnASingleLine: true    
AllowShortIfStatementsOnASingleLine: true    
IndentRequires: true
BreakBeforeBraces: Attach
UseTab: Never
BreakAfterJavaFieldAnnotations: true
AlignOperands: true
AlignTrailingComments: true 